body{
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to left, #0083B0, #00B4DB);
  height: 100vh;
  width:100vw;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat';
}
.canvas{
  padding-top: 20vh;
}
.timer-display{
  color: #fff;
  font-size: 30vh;;
}
.button{
  width: 20vh;
  margin: auto;
  border: 3px solid #fff;
  font-size: 20px;
  margin-top: 10vh;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 300ms;
}
.button:hover{
  color: #0083B0;
  background: #fff;
}
@media screen and (max-width: 700px){
  .timer-display{
    font-size: 15vh;
  }
} 